@font-face {
    font-family: "Montserrat";
    src: url('Montserrat-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
    scroll-behavior: smooth;
}

/* Div de la barre de navigation */

nav {
    background-color: #d5edef;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
}

nav ul::after{
    content: "";
    display: table;
    clear: both;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
}

nav img{
    baseline-shift: 100%;
    max-height: 25px;
}

nav a:hover{
    color: #002bfd;
    border-bottom: 2px solid #7484e9;
}

.sous{
    display: none;
    box-shadow: 0px 1px 2px #CCC;
    background-color: white;
    position: absolute;
    width: 100%;
    z-index: 1000;
}
nav > ul li:hover .sous{
    display: block;
}
.sous li{
    float: none;
    width: 100%;
    text-align: left;
}
.sous a{
    padding: 10px;
    border-bottom: none;
}
.sous a:hover{
    border-bottom: none;
    background-color: RGBa(200,200,200,0.1);
}
.deroulant > a::after{
    font-size: 12px;
}

/* Barre coloré animation */

.grad-bar {
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #13263b, #473ce7, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: AnimationName 5s ease infinite;
}

@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* Couleur de fond du site */

body {
    background-color: #21416d;
}

.container {
    margin-bottom: 10px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.col-md1 {
    margin: 5%;
    float: left;
    width: 25%;
}

.col-md2 {
    float: left;
    width: 30%;
    margin-top: 10%;
    align-content: center;
}

/* Box avec dégradé gauche droit & droite gauche */

.box-accueil-s1 {
    margin-bottom: 5%;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, #491458, #d53a9d);
    background-color: #3f5694;
    color: white;
    text-align: center;
}

.box-accueil-s2 {
    margin-bottom: 5%;
    border: 10px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #491458, #d53a9d);
    background-color: #3f5694;
    color: white;
    text-align: center;
}

/* Image page d'acceuil */

.image-centre {
    width: 100%;
    vertical-align: center;
}

/* Barre de sépartion */

hr {
    background-color: #fff;
    padding: 0;
    margin: 10%;
    height: 4px;
    border-radius: 20px;
}

/* Texte page d'acceuil dans les box */

.text-box-home {
    margin: 2%;
    color: white;
    text-align: left;
}

.text-simple {
    font-size: medium;
    text-align: justify;
    margin: 1%;
}

/* Bouton page d'acceuil */

.bouton {
    display: inline-block;
    color: inherit;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem 1.5rem;
    border-radius: .25rem;
    cursor: pointer;
    text-decoration: none;
    margin: 1%;
    background: linear-gradient(to left,#012348, #001ef3, #012348);
}

/* Style du footer */

footer {
    background-color: #001b4a;
    height: 5%;
    bottom: 0px;
    left: 0px;
    line-height: 50px;
    color: #aaa;
    width: 100%;
    display: flex;
	flex-flow:row wrap;
    background-color: #001b4a;
}

footer a{
    text-decoration: none;
    color:#7484e9;
}

footer a:hover {
    color: #ffffff;
}

footer * {
    padding-top:2.5em;
    margin-right: 2em;
    margin-left: 1em;
    padding-bottom: 1em;
    height: 8%;
    width: 10%;
}

.imgIut{
    padding-top:0.5em;
}

footer img {
    padding-top:1.75em;
}

/* Bouton violet */

.boutonHaut {
    display: inline-block;
    color: inherit;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem 1.5rem;
    border-radius: .25rem;
    cursor: pointer;
    text-decoration: none;
    margin: 1%;
    background: linear-gradient(to left, #491458, #d53a9d);
}
/* Mise en page des pages d'application */

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.box-texte {
    padding: 5%;
}

.box-image img{
    width: 100%;
}

.box-final{
    margin: 2%;
    display: flex;
    justify-content: center;
}

/* Spécifique a la page équipe */

.box-equipe {
    width: 20%;
    text-align: center;
    height: 10%;
}

.image-equipe {
    border-radius:30px;
    max-height: 100px;
    margin: 2%;
}

/* Spécifique a la page autopilot */
.autopilot-sommaire {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: url("images/autopilot-fond.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}

.autopilot-sommaire a{
    color: #b5cd90;
    font-size: medium;
}
/* Fil d'ariane */
.fil-ariane {
    margin-left: 10px;
	text-decoration: none;
}


.textepresentation {
	margin-top : 1%;
	font-size : 16px;
	margin-left : 5%;
	margin-right : 5%;
	line-height : 2;
	text-align: justify;
}

.soustitrepresentation {
	margin-top : 2%;
	margin-bottom : 2%;
	text-align: center;
}

.imagepresentation { 
	width : 180px;
	float : left;
	border : 2px solid;
	margin-right : 5%
}

.autopilot-sommaire {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
    background-image: url("images/autopilot-fond.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}

.autopilot-sommaire a{
    color: #b5cd90;
    font-size: medium;
}

.boutonHaut {
    display: inline-block;
    color: inherit;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .375rem 1.5rem;
    border-radius: .25rem;
    cursor: pointer;
    text-decoration: none;
    margin: 1%;
    background: linear-gradient(to left, #491458, #d53a9d);
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.box-texte {
    padding: 5%;
}

.box-image img{
    width: 100%;
}

.box-final{
    margin: 5%;
    display: flex;
    justify-content: center;
}

/* Spécifique à la page armement */

.texte {
    width:30%;
}
.tete {
    text-align:center;
    margin-bottom:0.5em;
    margin-top:0.5em;
}

.article-main {
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    padding:2em 0 2em 0;
    flex-flow:row wrap;
    margin-bottom:1em;
}

.image-article {
    width:45%;
}
.sous-titre {
    text-align:center;
    padding-top:1em;
    padding-bottom:1em;
}

table {
    border-collapse: collapse;
    font-size:65%;
    width:40%;
}

td, th {
    border: 1px solid #000000;
    text-align: center;
    padding-bottom: 0.15em;
    padding-right: 0.15em;
    background-color: #001b4a;
}

td:nth-child(even){
    color: #7484e9;
}

/* Spécifique à la page deep-learning */
.deep-sommaire {
    text-align: center;
    padding-top: 4%;
    padding-bottom: 4%;
}


.column {
    float: left;
    width: 50%;
}

.box-texte {
    padding: 5%;
}

.box-texte p{
    line-height: 175%;
    text-align: justify;
}

.box-image img{
    width: 100%;
}

.box-video iframe{
    width: 100%;
}

/* CSS Finances */

/*menu finances*/
.menu2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    list-style:none;
    background-image:url("images/FinancesBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.menu2 li {
    width: 200px;
    height: 50px;
    text-align: center;
}
.menu2 li a {
    color:white;
    text-decoration:none;
    padding:9%;
    background: linear-gradient(to left, #491458, #d53a9d);
}
.menu2 li a:hover {
    border: solid #15b7d8 3px;
    color:#15b7d8;
    padding:12%;
}
/* Blocks */
.Finances-Block
{
    width: 100%;
    padding: 5%;
    display: flex;
}
.Finances-Block1
{
    display:block;
    float: left;
    width: 50%;
    padding: 5%;
}
.Finances-Block2
{
    display:block;
    float: right;
    width: 50%;
    border-left:solid white 3px;
    padding: 5%;
}
.Finances-Block3
{
    width: 100%;
    padding: 1%;
}

html
{
    scroll-behavior: smooth;
}

/* Titres & Texte de la partie usage */
.usages
{
    padding: 2%;
    border: solid white 4px;
    border-radius:2%;
    text-align :center;
}
.Usages-Titres
{
    padding-top:9%;
}
.Usages-Titres2
{
    padding-top:1%;
}
.Usages-Titres3
{
    padding-top:1%;
    text-align:center;
    font-size:35px;
	border:solid white 3px;
	padding:2%;
}
.Usages-Titres4
{
    padding-top:1%;
    text-align:center;
    border-bottom:solid white 1px;
	padding:2%;


}
.Usages-Texte
{

/* Images*/
}
.vocal
{
    width:10%;
    float:right;
    padding:1%;
}
.loupe
{
    width:12%;
    float:right;
    padding:1%;
}
.ImageTrading
{
    width : 90%;
    border:solid white 3px;
}
.ImageFinance
{
    width : 75rem;
    border-radius:20%;
    border: solid #5B6DCD 5px;

}
/* Partie Risques */
.risques
{
    padding-top:3%;
    float:left;
    padding:1%;
    width:150%;
    height:10%
}
.titresRisques
{
    padding:2%;
    border:solid white 3px;
}



span {
	text-decoration: underline;
}

.Titremedecine {
    text-align : center;
    padding-top : 7%;
    color : #bee3f8;
    background-image : url("images/Medical-fond.webp");
    background-repeat : no-repeat;
    background-size : 100%;
    padding-bottom : 7%;
}
.surlign {
    background-color : rgba(56, 92, 105, 0.5);
}

.sommairemedecine {
    padding-top : 2%;
    text-align : center;
    background-color : #3f5694;
    color : white;
    padding-bottom : 2%;
}

.boutonmedecine {
    display : inline-table;
    text-align : center;
    vertical-align : middle;
    padding : 1%;
    text-decoration : none;
    margin : 1%;
    color : #104e88;
    background-color : white;

}

.medecine {
    width : 5%;
}

.medecine2 {
    width : 25%;
    float : right;
    border : 1px solid;
    box-shadow : 0px 0px 10px;
    margin-left : 10%
}

.medecine3 {
    width : 25%;
    float : left;
    border : 1px solid;
    box-shadow : 0px 0px 10px;
    margin-right : 10%;
}

.soustitremedecine {
    margin-top : 2%;
    margin-bottom : 10%;
    text-align: center;
}


.textemedecine {
    margin-top : 1%;
    font-size : 16px;
    margin-left : 5%;
    margin-right : 5%;
    line-height : 1.7;
    text-align: justify;
}
